.backdrop {	
	background-color: rgba(248, 250, 250, 0.5);
}

	.temp_warm {
		color: #df2929;
	}
	.temp_cool{
		color: blue;
	}

@media screen and (max-width: 540px) {
	.backdrop {	
		background-color: rgba(248, 250, 250, 0.9);
	}
}